<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Reset Password</h1>
<input type="hidden" value="<%= resetPasswordHash %>" id="reset-hash">

<div>
    <input type="password" id="password"/>
    <input type="password" id="conf-password">
    <button onclick="send()">Send</button>
</div>
<script>
    function send() {
        var password = document.getElementById('password').value;
        var conPassword = document.getElementById('conf-password').value;
        var hash = document.getElementById('reset-hash').value;

        if (password.length < 6) {
            alert('Password length at least 6 characters')
        } else if (password != conPassword) {
            alert('Passwords do not match')
        } else {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '<%= changeUrl %>');
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                if (xhr.status === 200) {
                    alert('Password changed')
                } else if (xhr.status === 403) {
                    if (typeof xhr.responseText == 'string')
                        window.location.replace(xhr.responseText);
                } else {
                    console.error(xhr.responseText)
                }
            };
            xhr.send(JSON.stringify({password: password, hash: hash}))
        }
    }
</script>
</body>
</html>